@font-face {
    font-family: 'codropsicons';
    src:url('assets/fonts/codropsicons/codropsicons.eot');
    src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/codropsicons/codropsicons.woff') format('woff'),
        url('assets/fonts/codropsicons/codropsicons.ttf') format('truetype'),
        url('assets/fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
    font-weight: normal;
    font-style: normal;
}
    #info{
           // display: none;
           .modal-dialog{
                width:1000px;
           }
           .print{
            background: none;
            border:none;
            color:#ccc;
           }
            header{
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                h1{
                    font-size:30px;
                    color:$dg;
                    margin-bottom: 3px;
                    .line{
                        top: 20px;
                        height: 2px;
                        border: thin solid $lg;
                        position: relative;
                        margin-top: -5px;

                        &.right{
                            float:right;
                        }
                        &.left{
                            float:left;
                        }
                        &.su{
                              width: 200px;
                        }
                        &.emp{
                            width:200px;
                        }
                        &.be{
                            width:40px;
                        }
                        &.cut{ width:100px;

                        }
                        &.ctl { width:100px;

                        }
                        &.pv{ width:180px;

                        }
                        &.sc{ width:100px;

                        }
                        &.pi{ width:159px;

                        }
                    }
                }
                h3{
                    font-size: 14px;
                    text-transform: capitalize;
                    font-variant: small-caps;
                    font-style: italic;
                    padding-top: 0;
                    margin-top: 0;
                    color: #ccc;
                }
            }

            nav {
                margin-top: -42px;
                ul{
                    list-style: none;
                    li{
                        display: inline-block;
                        &:before{
                            content:'|';
                        }
                        &:first-child:before{
                            content:'';
                        }
                        a{
                            text-transform:lowercase;
                            font-weight: 400;
                        }
                    }

                }
            }
            article{
                .content{
                    margin-left: 50px;
                }
                ul{
                     list-style: none;
                     padding-left: 0;
                    li{
                        color:$dg;
                        font-size: 16px;
                        padding:20px;
                        &:nth-child(odd){
                            background: #eeeeee;
                            //color:$dg;
                        }
                         &:nth-child(even){
                            //color:$dg;

                        }
                    }
                }
            }
        }



        .actionplan {
            position: relative;
            padding-top: 50px;
             @media only screen and (max-width : 900px) {
                position: relative;
                padding-top: 0px;
                margin-left: -25px;
            }


            .fa.fa-chevron-down, .fa.fa-chevron-up{
                font-size: 50px;
            }
            .odd{
                background:#bfbcaf;
                &.row{
                    padding-top: 20px;
               padding-bottom: 20px;
                }
            }
            .even{
                background:$cream;
                &.row{
                        padding-top: 20px;
               padding-bottom: 20px;
                }
            }
            header{
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                h1{
                    font-size:50px;
                    @media only screen and (max-width : 400px) {
                        font-size: 30px;
                    }
                    .line{

                        top: 20px;
                        height: 2px;
                        border: thin solid #bf9199;
                        position: relative;
                        margin-top: 10px;
                        @media only screen and (max-width : 1000px) {
                            display: none !important;
                        }
                        &.right{
                            float:right;
                        }
                        &.left{
                            float:left;
                        }
                        &.su{
                              width: 300px;
                        }
                        &.emp{
                            width:200px;
                        }
                        &.be{
                            width:40px;
                        }
                        &.cut{ width:100px;

                        }
                        &.ctl { width:100px;

                        }
                        &.pv{ width:180px;

                        }
                        &.sc{ width:100px;

                        }
                        &.pi{ width:159px;

                        }
                    }
                }
                h3{
                    font-size: 24px;
                    text-transform: capitalize;
                    font-variant: small-caps;
                    font-style: italic;
                    padding-top: 0;
                    margin-top: 0;
                    color: #bf9199;
                }
            }

            ul {
               padding-left: 0;
               margin-left:-15px;
               margin-right:-15px;

                li {
                    padding:20px;
                    //height:100px;
                    .question{
                        float:right;
                        //background:#d1cebe;
                        //padding:10px;
                        height:100%;
                       // margin-top:-20px;
                        i{
                            font-size: 50px;
                             @media only screen and (max-width : 400px) {
                                font-size: 20px;
                            }
                        }

                    }
                    .well{
                        background:none;
                        padding-bottom: 0;
                        border:none;
                    }
                }
            }
          label {
                display: inline-block;
                position: relative;
                font-size: 2em;
                padding: 0 0 0 80px;
                vertical-align: top;
                color: rgba(0,0,0,0.2);
                cursor: pointer;
                transition: color 0.3s;
                width:90%;
                 @media only screen and (max-width : 400px) {
                        font-size: 20px;
                    }
            }

            input[type="checkbox"],
            input[type="radio"],
            label:before {
                width: 50px;
                height: 50px;
                top: 50%;
                left: 0;
                margin-top: -25px;
                position: absolute;
                cursor: pointer;
            }

            input[type="checkbox"],input[type="radio"] {
                opacity: 0;
                display: inline-block;
                vertical-align: middle;
                z-index: 100;
            }

            label:before {
                content: '';
                border: 4px solid #fff;
                transition: opacity 0.3s;
            }
            input[type="checkbox"]:checked + label,
            input[type="radio"]:checked + label {
                color: #fff;
            }

            input[type="checkbox"]:checked + label::before,
            input[type="radio"]:checked + label::before {
                opacity: 0.8;
            }
            ul{
                list-style: none;
                position:relative;
                li{
                    position: relative;
                }
            }
            svg {
                position:absolute;
                width: 40px;
                height: 40px;
                top: 23px;
                left:23px;
                // margin-top: -40px;
                //left: 5px;
                pointer-events: none;
                path {
                    stroke: $dblue;
                    stroke-width: 5px;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    fill: none;
                }
            }
            .mcontent{
                margin-left:83px;
                font-size: 20px;
                font-weight: 600;
                //display: none;
            }
        }
        #submit.btn{
            margin:auto;
            text-align: center;
            height:75px;
            width:400px;
             @media only screen and (max-width : 400px) {
                       width:300px;
                    }
            &:after{
                content: '';
                position: absolute;
                z-index: -1;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            &.btn-7{
                background: #00a7ad;
                color: $w;
                border-radius: 7px;
                font-size: 20px;
                box-shadow: 0 5px $dblue;
                padding: 9px 46px 12px 55px;
                text-transform: uppercase;
                 @media only screen and (max-width : 400px) {
                        font-size: 12px;
                    }
                &:active{
                    background: $dblue;
                    box-shadow: 0 5px $lblue;
                }
            }
            &.btn-7a{
                overflow: hidden;
                &:before{
                    position: absolute;
                    left: -28px;
                    width: 40%;
                    top:3px;
                    font-size: 30px;
                    line-height: 0.8;
                    //color: $lblue !important;
                }
            }
            &.icon-truck:before{
                content: "\f0ca";
                font-family: FontAwesome;
                color:$dblue;
                line-height: 1;
                position: relative;
                  -webkit-font-smoothing: antialiased;
            }
            &.icon-truck:active:before{
                color: $lblue !important;
            }
        }
         .only_print{
            display:none;
         }
         .page-break    { display: none; }
         #to_top{
            background: $dblue;
            color:$cream;
            position:fixed;
            padding: 20px;
            bottom:0;
            right: 20px;
            @include transition(1, 1s, 0);
            i{
                color:$cream;
                 @include transition(1, 1s, 0);
            }
            &:hover{
                i{
                    color:$burg;
                }
            }

         }
        @media print {
            body{
                background:$w;
                color:$b;
            }
            img{
                width:100px;
            }


            #info{
                display:block !important;
                position:relative;
                .modal-content{
                    box-shadow: none !important;
                    width:100%;
                    height:100%;
                    margin:auto;
                       border:none !important;
                       //page-break-before: always;
                }
                .modal-dialog{
                   .only_print{
                        display:block;
                        text-align: center;
                        padding:20px;
                        padding-bottom:0;
                   }
                    width:600px;
                    height:100%;
                    //page-break-before: always;
                    margin:auto;
                    box-shadow: none !important;
                    border:none !important;
                    h1{
                        font-size:18px;
                        .line{
                            display:none;
                        }
                    }
                    h3{
                        padding:0;
                        margin:0;
                        font-size: 14px;
                    }
                    ul{
                        li{
                            padding:0px;
                            font-size: 12px !important;
                             margin-bottom: 20px;
                            &:nth-child(odd){
                                background: #eeeeee;
                            }
                            &:after{
                                margin-top:20px;
                                width: 10%;
                                border-width: 2px;
                                border-top-style: solid;
                                content: "";
                                display: block;
                                height: 10px;
                                line-height: 1em;
                                margin: -13px auto auto;
                                padding-top: 20px;
                                top: 20px;
                                position: relative;
                            }
                        }
                    }
                    article{
                        padding-top:0px;
                        padding-bottom:0px;
                        font-size: 12px !important;
                       // page-break-after: always;
                       // page-break-inside: auto;
                       // page-break-before: auto;

                        p{
                            margin:0 0 5px;
                            line-height:15px;
                        }
                    }
                }
                .modal-header, .modal-footer{
                    display:none;
                }
            }
           .action-plan #sb-site, .action-plan .sb-slide, .action-plan #to_top  {
                display:none;
            }
            @page :left {
margin: 0.5cm;
}

@page :right {
margin: 0.8cm;
}
        }

