//basics
$b: #000000;
$w: #ffffff;
$lg :#cccccc;
$dg: #333333;

//blues
 $dblue: #00878d;
 $lblue : #1fcfcb;
 $tintlb: #92d5cb;

//background
$cream: #f0eee0;
$dcream:#dfdccb;

//text
$burg: #52111d;
$lburg: #8A4251;


//alert
$orange: #e45f18;
$lorange: #e47334;

//fonts
$freight: "freight-sans-pro";


