#content.frontpage .onhover .hovering .slide{
    height:auto !important;
    padding-top:0;
}
     .slider {
            height: 280px;
            width: 320px;
            overflow: hidden;
            position: relative;
            margin-left:-16px;
        }

        .slide {

            padding: 0;
            margin: 0;
            width: 700px;
            padding-top: 30px;
            transition-property: transform;
            transition-duration: 0.5s;
            transition-timing-function: ease-out;

            /*apply a transform to kick in the hardware acceleration.  Without this, the first
            time we add the transform you get odd rendering of the divs (half missing) */
            transform: translate(0, 0);
        }

        .slide > div {
            padding: 0;
            margin: 0;
            width: 320px;
            height: 270px;
            float: left;
            display: inline-block;

            /*apply a transform to kick in the hardware acceleration.  Without this, the first
            time we add the transform you get odd rendering of the divs (half missing) */
            transform: translate(0, 0);
        }
        .mi{
            text-align:center;
            margin:auto;
            padding-bottom: 20px;
        }
#content.frontpage .onhover .hovering.mobile article{
    height:106px;
}
.hovering.mobile .slide .links{
    width:320px;
    padding-left: 0 !important;
}

#content.frontpage .onhover .hovering ul li a{
    padding-right: 15px;
    height: 150px;
    padding-top: 33px;
}
.hovering.mobile .slider{
    height:330px;
}
#content.frontpage .onhover .hovering ul{
    margin-left: 11px;
  padding-top: 14px;
  width:230px;
}

.fa.fa-angle-left{
    margin-top:113px;
}